---
# scss
---
$border-color: #C8C8C8;

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    border: 10px solid skyblue;
    box-sizing: border-box;
    display: flex;
}

h1 {
    margin: 0;
}

#content {
    text-align: center;
    margin: auto;

    h1 {
        $border-size: 3px;

        font-size: 4em;
        display: inline;
        font-weight: normal;
        border-bottom: $border-size solid lighten($border-color, 15%);

        a {
            font-size: .3em;
            vertical-align: top;
        }
    }
}
