---
# scss
---
$border-color: #C8C8C8;

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #F00;
    text-decoration: none;
    &:hover {
        color: initial;
    }
}

ul {
    padding: 0;
    list-style: none;

    li {
        display: inline;

        &:after {
          content: "  \0b7  ";
        }

        &:last-of-type:after {
          content: "";
        }
    }
}

h1 {
    margin: 0;
}

#who {
    h1 {
        text-align: center;
        padding-top: 10px;
    }
}

#menu {
    text-align: center;
    width: 50%;
    float: left;
    padding: 250px 0 0 0;

    h1 {
        $border-size: 3px;

        font-size: 4em;
        display: inline;
        font-weight: normal;
        border-bottom: $border-size solid lighten($border-color, 15%);

        a {
            font-size: .3em;
            vertical-align: top;
        }
    }
}

#locations {
    li {
        &:nth-child(1):after {
            content: "\21d2";
        }
    }
}

#content {
    float: left;
    width: 50%;
    height: 100%;
    padding: 0;
}

#map {
    height: 100%;
}


@media (max-width: 960px) {
    #menu, #content {
        float: none;
        width: 100%;
        height: 50%;
    }

    #menu {
        padding: 0;
        h1 {
            font-size: 2em;
            a {
                font-size: .5em;
            }
        }
    }
}
